@import 'variables';
@import 'reset';
@import 'variables';
@import 'mixins';

html {
  font-family: 'Segoe UI', Verdana, sans-serif;
  line-height: 1.5;
}

body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  color: set-text-color($primary-color);
  min-height: 100vh;
  margin: 0;

  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $primary-color;
    opacity: 0.5;
    z-index: -1;
  }
}

header {
  height: $header-height;
  background-color: $primary-color;
  opacity: 0.8;
  nav.menu {
    height: $header-height;
    display: flex;
    //flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .lg-heading {
      color: set-text-color($primary-color);
    }
    .text-secondary {
      color: set-text-color($primary-color);
    }
  }
}

main {
  min-height: calc(100vh - #{$footer-height} - #{$header-height});
  border-top: 3px solid $secondary-color;
  border-bottom: 3px solid $secondary-color;
  z-index: -1;

  .icons {
    padding: 2rem 1rem;
  }

  .svg-icon {
    display: inline-block;
    width: 4em;
    height: 4em;
    fill: rgba($secondary-color, 0.8);
    @include easeOut;
    &:hover {
      font-size: 1.2em;
    }
  }
}

.linked,
.facebook {
  &:hover {
    fill: blue;
  }
}
.tube {
  &:hover {
    fill: red;
  }
}
.git {
  &:hover {
    fill: black;
  }
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  z-index: 0;
  //color: set-text-color($primary-color);
  &.lg-heading {
    font-size: 5rem;
    margin: 0 0 0.5rem 0;
    padding: 0.2rem 1rem;
  }

  &.sm-heading {
    margin: 0 0 0 0;
    padding: 0.2rem 1rem;
    //background: rgba(lighten($primary-color, 2), 0.5);
  }
}
.text-secondary {
  color: $secondary-color;
}
// About page layout
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;

  .bio-image {
    grid-area: bioimage;
    margin: auto auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
    p {
      margin: 1em 0;
    }
    a {
      text-decoration: none;
      color: set-text-color($primary-color);
    }
  }

  .job-2 {
    grid-area: job2;
    p {
      margin: 1em 0;
    }
  }

  .job-3 {
    grid-area: job3;
    p {
      margin: 1em 0;
    }
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// services page layout
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;

  a {
    text-decoration: none;
    color: set-text-color($primary-color);
  }

  img {
    width: 100%;
    border: 3px #fff solid;
    height: auto;
    overflow: hidden;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//contact page layout
.boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 0.5rem;

  div {
    font-size: 1rem;
    width: 14em;
    height: 4em;
    border: 3px $secondary-color solid;
    text-align: center;
    margin: 1rem auto;
    align-content: center;
    @include easeOut;

    &:hover {
      width: 16em;
      height: 4.5em;
      line-height: 4em;
      background: $secondary-color;
      color: black;
      font-weight: bolder;
    }
  }
  .second {
    font-size: 1rem;
    width: 14em;
    height: 4em;
    border: 3px $secondary-color solid;
    line-height: 4em;
    text-align: center;
    margin: 1rem auto;
    align-content: center;
    @include easeOut;
  }
}

.google-map {
  max-width: 99vw;
  padding: 0.5em;
  border: 3px $secondary-color solid;
  margin: 1rem;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

footer {
  //border-top: $secondary-color solid 3px;
  background-color: $primary-color;
  height: $footer-height;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  z-index: 5;
  opacity: 0.8;
}
