$primary-color: #0a1b0a;
//black;
//#eece1a;
//white;
//#382250;
// #0a1b0a;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;
$footer-height: 4rem;
$header-height: 5rem;
$max-width: 80% ;



  

  